

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="zh_CN" >
<head>
    <title>会展评估报告列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>




<link rel="stylesheet" type="text/css" media="screen" href="/static/css/user.css"/>
<style  media="screen" type="text/css">

</style>

  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css" />


    <script type="text/javascript">
    //<![CDATA[
        window.__admin_media_prefix__ = "/static/admin/";
        window.__admin_utc_offset__ = "28800";
    //]]>
    </script>
    <script src="/static/admin/js/jquery-1.9.1.min.js"></script>
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>



<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>



    <meta name="robots" content="NONE,NOARCHIVE" />
    <script type="text/javascript">
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script>
</head>


<body class=" spacider- change-list">

<!-- Container -->
<div class="container">


    <!-- Header -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


<h1 id="site-name"><a href="/admin/">会展评估报告</a></h1>

                </div>

            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="row">
        <div class="col-sm-12">

<ul class="breadcrumb">
<li>项目列表</li>
</ul>

        </div>
    </div>


<form class="" id="changelist-form" action="/generate_report/" method="post">{% csrf_token %}
<div class='pull-left'>
<div class="actions form-group">
    <span style="vertical-align:sub">动作</span>
    <select name="action">
    <option value="" selected="selected">选择项目比较</option>
    </select>
    <input class="select-across" name="select_across" type="hidden" value="0" />
    <button type="submit" class="btn btn-default" title="运行选中的动作" name="index" value="0">执行</button>
</div>
</div>


<div id="content-main">
    <div class="module" id="_changelist">
<div class="results">
<table id="result_list" class="table table-striped table-bordered">
<thead>
<tr>

<th scope="col"  class="action-checkbox-column">

   <span><input type="checkbox" id="action-toggle" /></span>
</th>
<th scope="col"  class="sortable column-pname">



   <a href="?o=1">项目名</a>
</th>
<th scope="col"  class="sortable column-keywords">



   <a href="?o=2">关键字</a>
</th>
<th scope="col"  class="sortable column-thetype">



   <a href="?o=3">查看报告</a>
</th>
</tr>
</thead>
<tbody>

{% for project in project_list %}
<tr class="row1">

        <td class="action-checkbox">
            <input class="action-select" name="_selected_action" type="checkbox" value="{{ project.id }}" />
        </td>

        <th class="field-pname"><a href="#">{{ project.pname }}</a></th>


        <td class="field-keywords">{{ project.keywords }}</td>

        <td class="field-thetype"><a href="/report/{{ project.id }}">评估报告</a> </td>

</tr>

{% endfor %}

</tbody>
</table>
</div>



    </div>
</div>

<div class="navbar navbar-default">
    <div class="navbar-inner">
        <div class="navbar-form pull-left">

        </div>

    </div>
</div>


</form>


    </div>
    <!-- END Content -->

    <!-- <footer  id="footer"> </footer> -->
</div>
<!-- END Container -->

</body>
</html>
